<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.upiicsa.ApiSIIP_Beta" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.springframework.data.repository" level="WARN"/>

</configuration>